.page {
}

.filter-item {
  padding: 10px 10px 10px 10px;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.mat-checkbox {
  margin: 0 12px;
  padding: 10px 10px 10px 10px;
  color: white;
  font-weight: 400;
}
.mat-checkbox-input {
  color: white !important;
  padding: 10px 10px 10px 10px;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

a {
  color: black;
}
