<i class="fas fa-search" aria-hidden="true"></i>
<Layout title="Home">
    <div class="grid-view">
      <div class="flex flex-col justify-between bg-gray-700 text-white p-3 mx-3 mb-3">
        <span class="text-sm font-bold mb-2">Registered Students</span>
        <span class="w-full text-right font-bold text-3xl text-yellow-400">
          391
        </span>
      </div>
      <div class="flex flex-col justify-between bg-gray-700 text-white p-3 mx-3 mb-3">
        <span class="text-sm font-bold mb-2">Placed Students</span>
        <span class="w-full text-right font-bold text-3xl text-yellow-400">
          238
        </span>
      </div>
      <div class="flex flex-col justify-between bg-gray-700 text-white p-3 mx-3 mb-3">
        <span class="text-sm font-bold mb-2">Courses</span>
        <span class="w-full text-right font-bold text-3xl text-yellow-400">
          590
        </span>
      </div>
      <div class="flex flex-col justify-between bg-gray-700 text-white p-3 mx-3 mb-3">
        <span class="text-sm font-bold mb-2">Companies</span>
        <span class="w-full text-right font-bold text-3xl text-yellow-400">
          84
        </span>
      </div>
    </div>
  </Layout>