<div class="bg-gray-100" style="">
  
    <!-- This example requires Tailwind CSS v2.0+ -->
    <nav class="bg-gray-800">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
          <div class="flex">
            <div class="-ml-2 mr-2 flex items-center md:hidden">
              <!-- Mobile menu button -->
              <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <!--
                  Icon when menu is closed.
    
                  Heroicon name: outline/menu
    
                  Menu open: "hidden", Menu closed: "block"
                -->
                <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
               
                <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
    
            <div class="flex-shrink-0 flex items-center">
              <span class="">
                <a routerLink="/projects" class="text-white"><i class="fas fa-home    "></i></a>
              </span>
              <span class="px-5 text-white nav-brand" >
                
                {{repository?.full_name}} </span>
            </div>
            
            <div class="hidden md:ml-6 md:flex md:items-center md:space-x-4">
    
              <ng-container *ngFor="let m of menus">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a (click)="navigate(m)" class="nav-link bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">{{m.name}}</a>
    
            </ng-container>
            </div>
            <div class="flex flex-row items-center justify-center text-white float-right" *ngIf="repository">
          
              
              <div class="mx-5 hover:bg-gray-700 p-2 w-8 h-8" >
                
              </div>
              <span class="flex items-center  p-10">
                
                <span class="mr-2">
                  <a href="{{repository.githubUrl}}" target="_blank" class="ml-2 mr-2 p5-3" *ngIf="project.githubUrl" ><i class="fab fa-github" aria-hidden="true"></i></a>
                </span>
                <span class="mr-2">
                  <a href="{{repository.sonarCloudUrl}}" target="_blank" class=" ml-2 mr-2  pl-1" *ngIf="project.sonarCloudUrl" > 
                    
                    <img src="https://sonarcloud.io/images/sonarcloud-logo.svg" width="105" height="10" class="" style="padding:0px;display:inline-block;"/>
                  </a>
                </span>
                <span class="mr-2">
                  <a *ngIf="repository.testUrl" href="{{project.sonarCloudUrl}}"  target="_blank" class="ml-2 mr-2 pl-1">
                    Launch 🚀</a>
                    <span *ngIf="!project.testUrl" class="ml-2 mr-2 pl-1">
                      Launching Soon 🚀</span>
                </span>
                
                
              </span>
            </div>
            
          </div>
      
        </div>
      </div>
    
    </nav>
    
      </div>
    
    